body {
    background: linear-gradient(180deg, #0e342e 0%, #1e534b 100%);
    color: #ef8052;
    font-family: Arial, sans-serif;
}

#header {
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#body-content {
    padding: 50px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: left;
}

#text-container {
    width: 50%;
    float: left;
}

#image-container {
    width: 20%; /* Установите ширину изображения по вашему усмотрению */
    float: right;
    margin-left: 20px;
    align-items: center;
}

#image-container img {
    max-width: 100%; /* Чтобы изображение не выходило за пределы контейнера */
    height: auto; /* Чтобы сохранить пропорции изображения */
    border-radius: 10px; /* Пример скругления углов для изображения */

}

#footer {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, #ef8052 50%, #ef8052 100%);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.department {
    margin-right: 20px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

#language {
    margin-right: 20px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

#shop {
    background-color: #ef8052;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

p {
    font-size: 18px;
    line-height: 1.5;
}

#footer p {
    font-size: 18px;
    line-height: 1.5;
}

#footer {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, #ef8052 50%,);
    color: #ffffff;
    padding: 20px;
    bottom: 0; /* Прижимаем к нижней части экрана */
    text-align: center;
}

